:root {
  --vp-layout-max-width: 100%;
}

.content-container {
    max-width: 100% !important;
}
.aside {
  max-width: 350px !important;
}
.aside-container {
  width: fit-content !important;
}

.VPBadge.server {
  background-color: #f8d094;
  color: rgba(60, 60, 67, 0.78);
}
.VPBadge.client {
  background-color: #94f8b2;
  color: rgba(60, 60, 67, 0.78);
}

.outline-link .VPBadge {
  line-height: 16px;
  padding: 0 6px;
  transform: translateY(0px);
}

.vp-doc ol,.vp-doc ul {
  padding-left: 2.25rem;
}

.preview-img {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  img {
    width: 100%;
  }
}

@media (max-width: 1110px){
  .preview-img {
      display: flex;
      flex-direction: column;
  }
}